name: Lint Checks

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - '*'

jobs:
  test:
    name: "Run linter"
    runs-on: ubuntu-24.04
    steps:
      - name: "Clone project repository"
        uses: actions/checkout@v3
      - name: "Install uv"
        uses: astral-sh/setup-uv@v4
        with:
          python-version: '3.12'
      - name: "Install dependencies"
        run: uv sync
      - name: "Run flake8"
        run: uv run flake8 --config tox.ini
